/* Configuración General y Fondo Uniforme con Granulado Sutil */
body {
  font-family: 'Josefin Sans', sans-serif;
  color: #cccccc;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 0 2.5rem;
  overflow-x: hidden;
  position: relative;

  /* Fondo de 2 capas: 
     1. Textura granulada con opacidad sutil
     2. Gradiente radial oscuro original */
  background:radial-gradient(circle at top center, #637a8d , #304463, #1c1e33, #0e0211);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Permite hacer clic a través de la capa sin bloquear botones */

/* Patrón de ruido de prueba (URL externa temporal) */
  background-image: url("../assets/images/bg-pattern.png");
  background-repeat: repeat;

/* EL TRUCO PARA FONDOS OSCUROS: */
  mix-blend-mode:difference; /* Ilumina el fondo oscuro */
  opacity: 0.15; /* Opacidad alta para probar que funciona */  
}


/* ==========================================
   FONDO A PANTALLA COMPLETA (SVG)
   ========================================== */
.logo-container {
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 0; /* Lo mantiene justo por encima del gradiente de fondo, pero detrás del contenido */
    pointer-events: none; /* Crucial: evita que el SVG bloquee los clics en los botones */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.adrawer-logo {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 2rem rgb(0, 0, 0));

}

/* ==========================================
   ESTILOS ESPECÍFICOS DEL INDEX
   ========================================== */

/* Layout general sobre el fondo SVG */
.index-layout {
    position: relative; /* Asegura que este contenedor flote sobre el logo-container */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 2.5rem); 
    width: 100%;
}

/* Encabezado (ahora solo alinea la brújula) */
.index-header {
    display: flex;
    justify-content: flex-end; /* Alinea la brújula a la derecha */
    align-items: flex-start;
    width: 100%;
    padding: 2rem; /* Separación de los bordes */
}

/* Contenedor del panel inferior de herramientas */
.index-menu-container {
    border-radius: .6rem;
    /* border: 1.2px solid rgba(255, 255, 255, 0.2);
    background-color: rgb(0, 0, 0, .3); */
    padding: 3rem 0;
    position: fixed;
    bottom: 0;
    left: 0rem;
    width: calc(100% - 2rem);
    margin: 0 1rem 1rem 1rem;
    z-index: 100;
    align-items: center;
}

.index-grid {
    max-width: 1200px;
}