:root {
  --bg-dark: #323232;          /* Color base del fondo superior */
  --card-dark: #1e1e1e;        /* Color del panel inferior */
  --text-white: #ffffff;
  --font-main: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-dark);
  background-repeat: repeat;
  background-size: cover;
  color: var(--text-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}